export(spheatNames)
export(spheatNAMES2)
export(spheatGPS)
export(spheatGPS2)
export(spheatLookup)
export(getWPdatatypes)
export(getWPoptions)
export(getWPdownload)
export(extlevel)

import(crayon)
import(sf)
import(countrycode)
import(foreach)
import(googleway)
import(httr)
import(lwgeom)
import(rgdal)
import(rvest)
import(stringdist)
import(sp)
import(stringr)
import(tidyverse)
import(velox)
import(dplyr)
importFrom(maps, map.where)
importFrom(curl,curl_download)
importFrom(curl,handle_setopt)
importFrom(curl,new_handle)
importFrom(purrr,map)
importFrom(purrr,map_df)
importFrom(purrr,set_names)
importFrom(rangeBuilder,standardizeCountry)
importFrom(raster,raster)
importFrom(reshape2,dcast)
importFrom(xml2,xml_attr)
