export(getWPdatatypes)
export(getWPoptions)
export(getWPdownload)
export(spheatNames)
export(spheatGPS)
export(spheatLookup)

import(httr)
import(rvest)
import(tidyverse)
import(purrr)
import(raster)
import(rgdal)
import(reshape2)
import(rangeBuilder)
import(foreach)
import(stringr)
import(dplyr)
import(googleway)
import(countrycode)
import(curl)
import(RCurl)
import(sp)
import(plyr)
